.A{
    display: inline-flex;
    background-color: white;
    width: 101%;
    margin-top: -0.5%;
    margin-left: -0.5%;
    /* margin-right: -8%; */
}
.A1{
    margin-left: 2%;
    margin-top: 1%;
}
.a1{
    font-size: 25px;
    line-height: 0;
}
.a2{
    font-size: 15px;
}
.A2{
    margin-top: 1.5%;
}
.a3{
    background-color: rgb(135,207,235,0.174);
    border: 0px solid  rgb(135,207,235,0.174);
    color: grey;
    font-size: 13.5px;
    height: 15px;
    width: 140px;
    text-align: center;
    border-radius: 20px;
    padding: 3px;
    margin-left: 678%;
    margin-top: 6%;
}
.a4{
    margin-top: 1.5%;
    margin-left: 66%;
    border-radius: 50px;
    padding: 10px;
    border: 1px solid  rgb(9, 84, 76);
    height: 15px;
    width: 15px;
    text-align: center;
    background-color:  rgb(9, 84, 76);
    color: white;
    font-size: 15px;
}
.a{
    border: 0.1px solid rgba(170, 170, 170, 0.285);
    margin-top: 0%;
}